body{
    margin:0;
}

/*Header*/
header{ 
    width: 100%; 
    height: 8rem;
    background-color: rgb(241, 233, 241);
    padding-bottom:1.5rem;
    display: flex; 
    justify-content: space-between;
    position: relative;
}  

header img{
    width:200px;
    height:150px;
    margin-left: 2rem; 
    padding-bottom: 2.5rem;
    object-fit:contain;
}

.nav{
    display: flex;
    align-items: baseline; 
    padding: 2.3rem 25px;
} 

.counter{
    border-radius: 50%;
    padding:0em 0.45em 0em 0.45em;
    background:linear-gradient(#c96d16,#e98529 ,#8e44d3,#800aee);
    color:white; 
    font-weight: bolder;
    position: absolute; 
    top: 22%; 
    right:2%;
} 

.nav a{
    color:black;
    font-weight:bold;
    text-decoration: none;
}
/*TITRES*/  
.hero_banner img{
    width: 100%; 
    margin:0; 
    height: 25rem;
    object-fit:cover;
}

.container{
    padding:2.5rem;
}  

/*Accueil*/

#allProducts{
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
}

.cameras{
    width: 45%; 
    height: 350px; 
    border-radius: 12px; 
    background-color: white;
    box-shadow:5px 5px 9px rgb(37, 37, 36);
    margin:1rem 1rem;
    position: relative;
}

.cameras img{
     width: 100%; 
     height: 80%;
     border-top-left-radius: 12px;
     border-top-right-radius: 12px;
    object-fit: cover; 
}

.cameras h3, p{
    margin-left: 1rem; 
    margin-top: 0.25rem;
}
.cameras a{
    text-decoration: none;
    color: black;
}

.productPageLink{
    position: absolute;
    right: 2%;
    bottom: 2%; 
    font-weight: bolder; 
    color: black;
} 

/*ProductPage*/ 
.card{
width: 40rem;
height: 35rem;
}

#productImg img{
    width: 100%; 
    height:250px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    object-fit: cover;
} 

#form-control, #form-quantity{
    padding: 0.3rem; 
    width: 100%;
} 


/*Page panier*/
.quantity{
    width: 3.7rem;
} 
 #productName{
     width: 25%; 
     margin-right: 2rem;
 }  

 #productLenses{
     font-weight: 400; 
 } 

 #sumTotal{
     margin-left: 13rem;
 }
/*FOOTER*/
footer{
    width: 100%; 
    height: 10rem;
    margin-top:auto;
    background-color: rgb(241, 233, 241); 
    font-weight: bold;
    font-size: 1.1em;
} 

.footer_titles li{
    text-decoration: none; 
    display: flex;
}